@import "vars"

@media screen and (max-width: 992px)
    .section-header
        .carousel
            .carousel-inner
                .ventilyaciya
                        .container
                            top: 30%
                            display: block
                            .image
                               .block-img
                                    text-align: center
                                    float: none !important
                                    img
                                        width: 147px
                                        height: 147px
                            .content
                                .block-header
                                    font-size: 32px !important
                                    text-align: center
                                    h1
                                        margin-top: 15px
                                .block-intro
                                    display: none
                                .block-btn
                                    text-align: center
                                    margin-top: 32px
                                    .btn 
                                        padding: 15px 47px
                                        font-size: 14px
                .proect
                    .container
                        .block-content
                            .block-header
                                font-size: 22px
                            .block-intro
                                display: none
                            .block-btn
                                margin-top: 104px
                                text-align: center
                .mont
                    .container
                        .block-content
                            .block-header
                                font-size: 22px
                            .block-intro
                                display: none
                            .block-btn
                                margin-top: 104px
                                text-align: center
                .obs
                    .container
                        .block-content
                            .block-header
                                font-size: 22px
                            .block-intro
                                display: none
                            .block-btn
                                margin-top: 104px
                                text-align: center
            .carousel-indicators
                .indicator
                    padding: 0 0 0 46.63px
                    .number
                        display: none
                


@media screen and (max-width: 768px)
    .section-contact
        .container
            display: block
            .email
                display: none
            .phone
                width: 100%
    .section-header
        .bar
            display: block
            .navbar
                padding: 0
                border-bottom: 1px solid #2b2e2e
                line-height: 52px
                .list
                    text-align: center
                    a
                        display: none
                div
                    .icon
                        text-decoration: none
                        color: #fff
                        display: block
                        position: relative
                        text-align: center
            .response
                display: inline-block
                position: relative
                margin-left: 0
                z-index: 1022
                background-color: #27292e
                width: 100%
                .list
                    width: 100%
                    a
                        display: block
                        border-bottom: 1px solid #2b2e2e
                        .fa
                            float: right
                            line-height: 52px
            .navbar-right
                display: none
        .carousel
            .carousel-inner
                .ventilyaciya
                    .block
                        margin: 0 auto
                        .container
                            top: 10%
                            .row
                                margin: 0 auto
                                .col-sm-4
                                    .block-img
                                        text-align: center
                                        margin-left: 50%
                                        float: none !important
                                        width: 100%
                                        img
                                            width: 300px
                                            height: 300px
                                .col-sm-8
                                    margin-left: 10%
                                    .block-header
                                        font-size: 32px !important
                                        text-align: center
                                        h1
                                            margin-top: 15px
                                    .block-intro
                                        display: none
                                    .block-btn
                                        text-align: center
                                        margin-top: 32px
                                        .btn 
                                            padding: 15px 47px
                                            font-size: 14px       
            .carousel-indicators
                display: none       
    .section-footer
        .nav
            padding: 0
            .container
                padding: 26px 20px
                .row
                    .list
                        width: 100%
                        float: left
                    .footer-bar
                        width: 100%
        .footer-info
            .container
                padding-left: 20px
                padding-right: 20px
                .row
                    .info
                        width: 100%

@media screen and (max-width: 575px)
    .section-header
        .carousel
            .carousel-inner
                .ventilyaciya
                    height: 720px
                    margin: 0 auto
                    .container
                        top: 10%
                        margin: 0 auto
                        .content
                            margin-left: 5%
    .main
        .intro
            .info
                .container
                    display: block
    .section-footer
        .container
            display: block