@import "vars"
@import "fonts"
@import "libs"

body
	padding: 0
	margin: 0
	color: #fff
	font-family: "Roboto", Helvetica, Arial, sans-serif;

.section-contact
	background-color: #039be5
	color: #fff
	height: 44px
	.container
		max-width: 1160px
		width: 100%
		.row
			margin-left: -20px
    		margin-right: -20px
			.col-xs-12 .col-sm-8
				width: 66.66666667%
			.col-xs-12
				.info
					position: relative
					.left
						float: left
						.info-email
							dt
								display: inline-block
								margin-bottom: 0
								margin-top: 0
								height: 42px
								line-height: 42px
								font-size: 14px
								font-weight: 400
							dd
								display: inline-block
								margin-bottom: 0
								margin-top: 0
								height: 42px
								line-height: 42px
								font-size: 18px
								font-weight: 400
								a
									color: #fff
									border-bottom: 1px dotted #ffffff
									text-decoration: none
					.right
						float: right
						.info-phone
							dt
								display: inline-block
								margin-bottom: 0
								margin-top: 0
								height: 42px
								line-height: 42px
								font-size: 14px
								font-weight: 400
							dd
								display: inline-block
								margin-bottom: 0
								margin-top: 0
								height: 42px
								line-height: 42px
								font-size: 18px
								font-weight: 400	
.fixed
	left: 0
	right: 0
	top: 0
	z-index: 1023				
	position: fixed
.section-header
	position: relative
	margin-top: 44px
    z-index: 1021
	.bar
		background-color: #27292e
		border-color: #2b2e2e
		height: 52px
		.row
			margin-right: 0
			margin-left: 0
			position: relative
			.col-xs-6
				border-right: 1px solid #2b2e2e
				height: 52px
			.logo
				padding-left: 20px
				padding-right: 20px
				float: left
				a
					text-decoration: none
					font-size: 22px
					font-weight: 700
					text-transform: uppercase
					color: #ecf0f1
					white-space: nowrap
					line-height: 1
					.logo-image
						max-width: 100%
						max-height: 52px
		.navbar
			color: #ffffff
			ul
				list-style: none
				padding: 0
				li
					display: inline-block
					border-right: 1px solid #2b2e2e
					margin-top: 6px
					a
						font-size: 17px
						padding: 13px 26px 26px 13px
 						display: block
						text-transform: uppercase
						color: #cccccc
						text-decoration: none
		.navbar-right
			background-color: grey
			height: 52px
			position: absolute
			right: 0
			a
				text-transform: uppercase
				text-decoration: none
				color: #cccccc
				display: block
				padding: 0 20px
				margin-top: 13px
				font-size: 18px
	.carousel
		position: relative
		.carousel-inner
			position: relative
    		overflow: hidden
    		width: 100%
			.ventilyaciya
				color: #ffffff
				.block
					background-size: cover !important
					height: 600px
					.container
						max-width: 1160px
						width: 100%
						position: relative
						top: 25%
						.row
							width: 100%
							.col-sm-4
								.block-img
									max-width: 100%
									img
										vertical-align: middle
										border: 0
							.col-sm-8
								.block-header
									text-transform: uppercase
									font-weight: 700
								.block-intro
									display: block
									font-size: 20px
									opacity: 0.6
									hr
										margin-top: 26px
										margin-bottom: 26px
										border: 0
										border-top: 1px solid #ecf0f1
									b
										font-weight: bold
								.block-btn
									margin-top: 52px
									.btn
										margin-right: 13px
										text-transform: none
										border-radius: 52px
										font-size: 20px
										padding: 20px 52px
										background-color: #ecf0f1
										color: #3d4045
										opacity: 0.8
										border-color: transparent
										transition: all .2s ease
										.fa
											margin-left: 6.5px
									.btn:hover
										opacity: 0.6
			.proect
				.block
					background-size: auto 100%
					height: 600px
					.container
						position: relative
						max-width: 1160px
						width: 100%
						text-align: center
						top: 19%
						.block-content
							margin: 0 auto
							.block-header
								font-size: 40px
								line-height: 1.3
								color: #fff
								margin-bottom: 26px
							.block-intro
								display: block
								font-size: 20px
								margin-bottom: 39px
								font-weight: 300
								color: rgba(255, 255, 255, 0.6)
							.block-btn
								margin-top: 52px
								.btn
									margin-right: 13px
									padding-left: 26px
									padding-right: 26px
									width: 136px
									height: 48px
									text-transform: none
									border-radius: 26px
									font-size: 16px
									color: #ffffff
									background-color: #039be5
									border-color: #039be5
									display: inline-block
									margin-bottom: 0
									font-weight: 400
									text-align: center
									vertical-align: middle
									cursor: pointer
									white-space: nowrap
									line-height: 2
									transition: all .2s ease
								.btn:hover
									background-color: #026899
									border-color: #026899
			.mont
				color: #fff
				.block
					background-size: auto 100%
					height: 600px
					.container
						max-width: 1160px
						width: 100%
						text-align: center
						position: relative
						top: 20%
						.block-content
							margin: 0 auto
							position: relative
							width: 80%
							.block-header
								font-size: 40px
								line-height: 1.3
							.block-intro
								font-size: 20px
								display: block
								margin-bottom: 39px
								opacity: 0.6
								hr
									margin-bottom: 26px
									border: 0
									border-top: 1px solid #ecf0f1
								strong
									font-weight: bold
							.block-btn
								margin-top: 52px
								.btn
									border: 2px solid #fff
									color: #fff
									border-radius: 26px
									padding-left: 26px
									padding-right: 26px
									display: inline-block
									margin-bottom: 0
									font-weight: 400
									text-align: center
									vertical-align: middle
									cursor: pointer
									white-space: nowrap
									text-transform: none
									width: 136px
									height: 48px
									line-height: 2
									transition: all .2s ease
								.btn:hover
									background-color: #fff
									color: #000
			.obs
				color: #fff
				.block
					background-size: auto 100%
					height: 600px
					.container
						max-width: 1160px
						width: 100%
						text-align: center
						position: relative
						top: 19%
						.block-content
							margin: 0 auto
							.block-header
								margin-bottom: 26px
								font-size: 40px
								line-height: 1.3
							.block-intro
								font-size: 20px
								display: block
								margin-bottom: 39px
								opacity: 0.6
							.block-btn
								margin-top: 52px
								.btn
									margin-right: 13px
									padding-left: 26px
									padding-right: 26px
									width: 136px
									height: 48px
									text-transform: none
									border-radius: 26px
									font-size: 16px
									color: #ffffff
									background-color: #039be5
									border-color: #039be5
									display: inline-block
									margin-bottom: 0
									font-weight: 400
									text-align: center
									vertical-align: middle
									cursor: pointer
									white-space: nowrap
									line-height: 2
									transition: all .2s ease
								.btn:hover
									background-color: #026899
									border-color: #026899

		.carousel-indicators
			background-color: #f4f6f7
			border-bottom: 1px solid #dadedf
			bottom: auto
			clear: both
			height: 70px
			left: auto
			margin: 0
			position: relative
			text-align: left
			width: 100%
			z-index: 9
			.indicator
				background-color: #f4f6f7
				border-right: 1px solid #dadedf
				border-top: 1px solid #dadedf
				border-bottom: 0
				border-radius: 0
				color: #505656
				cursor: pointer
				display: block
				float: left
				font-size: 12px
				font-weight: 300
				height: 69px
				margin: 0
				padding: 0 0 0 80px
				position: relative
				text-indent: 0
				vertical-align: middle
				opacity: 1
				width: 25%
				.number
					background: #ecf0f1
					border-radius: 50%
					font-size: 12px
					font-style: normal
					height: 32px
					left: 30px
					line-height: 32px
					position: absolute
					text-align: center
					top: 18px
					width: 32px
				.title
					display: block
					margin-top: 15px
					strong
						display: block
						font-size: 16px
						font-weight: 700
						text-transform: uppercase
				.triangle
					display: none
				.in-to
					margin-top: 21px
			.active
				.number
					background: #039be5
					color: #fff
				.triangle
					display: block
					margin-top: -21px
					font-size: 22px
					margin-left: 30%
					color: #f4f6f7
				.title
					margin-top: 3px
				.in-to
					margin-top: 9px
		.carousel-control
			background: none
			display: none
			font-size: 56px
			text-align: center
			color: #ccc
			opacity: 0.5
			width: 15%
			text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6)
			.fa
				position: absolute
				top: 50%
				margin-top: -28px
		.left
			float: left
			transition: all .2s ease
		.left:hover
			opacity: 1
			color: #fff
		.right
			float: right
			transition: all .2s ease
		.right:hover
			opacity: 1
			color: #fff
	.carousel:hover
		.carousel-control
			display: block
	.header-info
		position: relative
		color: #fff
		background-color: #0279b3
		.container
			max-width: 1160px
			width: 100%
			.info
				padding: 80px 0
				.info-title
					font-size: 56px
					margin-top: 0
					font-weight: 400
					z-index: 2
					position: relative
				.info-description
					font-weight: 300
					letter-spacing: 1px
					z-index: 2
					position: relative
.section-main
	.section-intro
		padding-top: 104px
		padding-bottom: 104px
		.section-title
			font-size: 45px
			color: #27292e
			font-weight: 700
			text-align: center
			margin: 0 0 26px
			margin-bottom: 78px
			span
				display: block
				margin-bottom: 13px
			p
				color: #96a1a3
				margin-bottom: 0
				font-size: 20px
				font-weight: 300
		.section-info
			position: relative
			height: 372px
			.container
				max-width: 1160px
				width: 100%
				.row
					margin-left: -20px
					margin-right: -20px
					.item
						text-align: center
						.img-icon
							display: block
							margin-bottom: 39px
							img
								max-width: 100%
								vertical-align: middle
								border: 0
						h3
							color: #3d4045
							margin: 0 0 13px
							font-size: 20px
							font-weight: 700
						p
							font-weight: 300
							font-size: 18px
							b
								font-weight: 500
	.section-description
		background-color: #ecf0f1
		padding-top: 52px
		padding-bottom: 52px
		.container
			max-width: 1160px
			width: 100%
			text-align: center
			p
				 margin-bottom: 0
	.section-text
		font-size: 45px
		color: #27292e
		font-weight: 700
		text-align: center
		padding-top: 104px
		padding-bottom: 104px
		span
			display: block
			margin-bottom: 13px
		p
			color: #96a1a3
			margin-bottom: 0
			font-size: 22px
			font-weight: 300
	.main-garant-menu
		background: #f4f6f7
		border-bottom: 1px solid #dde4e6
		margin: 0
		padding: 0
		position: relative
		z-index: 2
		.container
			max-width: 1160px
			width: 100%
			.garant-nav
				display: inline-block
				margin: 0
				padding: 0
				list-style: none
				height: 55px
				.icon
					display: inline-block
					font-family: FontAwesome
					font-style: normal
					font-weight: 400
					line-height: 1
					background: #3d4045
					border-radius: 50%
					color: #ecf0f1
					font-size: 16px
					height: 36px
					line-height: 36px
					text-align: center
					width: 36px
					margin-right: 26px
				.item
					display: inline-block
					font-weight: 300
					list-style: none
					padding: 13px 0
					position: relative
					margin: 0
					a
						color: #3d4045
						display: block
						padding: 0
						margin: 0 26px 0 0
						padding-bottom: 2px
						text-transform: uppercase
						text-decoration: none
						transition: all .2s ease						
					a:hover
						border-bottom: 3px solid #3d4045
	.main-info
		margin-top: 52px
		margin-bottom: 52px
		.title
			text-align: center
			font-weight: 700
		hr
			width: 60px
			border-bottom: 5px solid #06abfc
		p
			padding-left: 15%
			padding-top: 5px
			font-size: 18px
			font-weight: 400
.section-footer
	background-color: #3d4045
	color: #96a1a3
	.nav
		font-size: 14px
		padding: 0
		overflow: hidden
		padding-bottom: 52px
		padding-top: 52px
		.container
			position: relative
			padding-top: 26px
			padding-bottom: 26px
			.row
				margin-left: -20px
				margin-right: -20px
				.list
					width: 33%
					.item
						padding: 0
						.item-title
							color: #505656
							font-size: 20px
							margin-bottom: 13px
							text-transform: none
						.item-menu
							position: relative
							.info
								top: 20px
								left: 20px
								.info-item
									margin-bottom: 0
									margin-top: 0
									dt
										font-weight: bold
										.fa
											display: inline-block
											margin-right: 8.66666667px
											margin-top: 5px
											float: left
									dd
										display: inline-block
										margin-bottom: 6.5px
										a
											color: inherit
											border-bottom: 1px dotted #96a1a3
											text-decoration: none
											transition: all .2s ease
										a:hover
											color: #fff
											border-color: #fff
				.footer-bar
					width: 33%
					.list
						background: #3d4045
						color: #96a1a3
						margin-top: 0
						margin-bottom: 0
						padding: 0
						.list-title
							color: #505656
							font-size: 20px
							margin-bottom: 13px
							text-transform: none
							width: 347px
						.list-menu
							padding: 0
							ul
								list-style: none
								margin-left: 0
								margin-bottom: 0
								padding-left: 0
								.list-item
									line-height: 24px
									position: relative
									display: inline-block
									height: 37px
									width: 347px
									transition: all .2s ease
									a
										color: #96a1a3
										padding-bottom: 6px
										padding-left: 5px
										display: inline-block
										text-decoration: none
								.list-item:hover
									.fa
										color: #fff
									a
										color: #fff
				hr
					background-color: rgba(0, 0, 0, 0.1)
					border: 0
					bottom: 0
					height: 1px
					margin: 0
					left: 20px
					position: absolute
					right: 20px
	.footer-info
		padding-top: 52px
		padding-bottom: 52px
		.container
			max-width: 1160px
			width: 100%
			.row
				margin-left: -20px
				margin-right: -20px
				.info
					width: 58%
					.left
						float: left
						p
							text-align: left
							margin: 0 0 13px
						a
							text-decoration: none
							color: #96a1a3
							border-bottom: 1px solid #96a1a3
							transition: all .2s ease
						a:hover
							color: #fff
							border-color: #fff
	


@import "media"